.git
vendor
node_modules

bootstrap/cache/*.php
bootstrap/cache/*.tmp

storage/logs/*
storage/framework/cache/*.php
storage/framework/cache/*.tmp
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
